{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-indent": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-curly-newline": "off",
    "react/state-in-constructor": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "import/extensions": "warn",
    "react/forbid-prop-types": "off"
  }
}
